### Import Libraries

In [1]:
import pandas as pd 
from sklearn.linear_model import LinearRegression 
import pickle 


df=pd.read_json('Data/House_Price.json')
df.head()


x = df['Area(in sq. ft)'].values.reshape(-1, 1)
y = df['Price(in Rs.)'].values.reshape(-1, 1)


model = LinearRegression()
model.fit(x,y)
pickle.dump(model, open('model.pkl', 'wb'))

### Loading Data

   Area(in sq. ft)  Price(in Rs.)
0             1000        1500000
1             1200        1800000
2             1500        2250000
3             1800        2700000
4             2000        3000000

### Putting the value of x and y

## Diploying the model